/* General Styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: normal 16px;
    color: #555;
}

nav{

    list-style: none;
}

a{
    text-decoration: none;
    opacity: 0.75;
    color: #fff;
}

a:hover{
    opacity: 1;
}

a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #3f51b5;
    opacity: 1;

}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}

/* Header Styles */

header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 35px 100px 0;
    animation: 1s fadein .05s forwards;
    opacity: 0;
    color: #fff;
}

@keyframes fadein{
    100%{
        opacity: 1;
    }
}

header nav{
    display: flex;
    /* flex-wrap: wrap; */
    margin-right: -15px;
    
}

header nav li {
    margin: 0 15px;
    
}

ul{
    list-style: none;
}

/* Hero Styles */

.hero{
    position: relative;
    justify-content: center;
    text-align: center; 
    min-height: 100vh;
    color: #fff;
}

.hero .background-image{
    background-image: url(../img/main.jpg);
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: #80a3ab; 
}

.hero h1{
    font: bold 100px;
    margin-bottom: 15px;
}

.hero h3{  
    font: normal 28px;
    margin-bottom: 40px;
}

.hero a.btn{
    color: #fff;
    padding: 20px 46px;
}

.hero-content-area{
    opacity: 0;
    margin-top: 100px;
    animation: 1s slide-fade 1s forwards;
}

@keyframes slide-fade{
    100%{
        opacity: 1;
        margin: 0;
    }
}

/* Destination style */

.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

hr{
    widows: 250px;
    height: 3px;
    background-color: #3f52;
    border: 0;
    margin-bottom: 50px;
}

section h3.title{
    text-transform: capitalize;
    font: bold 32px;
    margin-bottom: 30px;
    text-align: center;
}

section p {
    max-width: 775px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30;
    text-align: center;
}

.destination .grid li{
    height: 350px;
    padding: 20px;
    /* display: flex;
    flex-wrap: wrap; */
    flex: 30%;
    background-clip: content-box;
    background-size: cover;
    background-position: center; 
}

.destination .grid li.samll{
    flex-basis: 30%
}

.destination .grid li.large{
    flex-basis: 70%
}

/* Package Section */

.packages .grid li{
    padding: 50px;
    flex-basis: 50%;
    text-align: center;
}

.packages .grid li i {
    color: #8c9eff;
}

.packages .grid li h4{
    font-size: 30px;
    margin: 25px 0;
}

/* Testimonials Section */
.testimonials .quote{
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin: 40px 0 25px;
}

/* Contact section */
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
}

.contact from a.btn{
    padding: 100px;
}

.contact form input{
    padding: 15px;
    margin-right: 30px;
    font-size: 18px;
    color: #555;
    flex: 1;
}

/* footer section */
footer{
    font-display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #607d8b;
    color: #fff;
    padding: 20px 0;
}

footer ul li{
    margin-left: 16px;
}

footer p{
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.6;
    align-self: center;
}


